<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
  <add key="twitterApiKey" value="cLMZh5O412BcGhIVWoZF28GxL" />
  <add key="twitterApiSecret" value="HUADhR1T2VOsLKF8iwgtyedr9l38znYyC8tW9zd2uMZUrItVNQ" />
   <add key="OauthKey" value="1325557386116030464-WoQ3Ya7AGa1oEyOCy9tTC2iw8j5h2j" />
  <add key="OauthSecret" value="mXuzkO4muUfvq0KvFAJdOUXP1YxnyjYqFCUtCMtWd083O" />
  <add key="AzureKey" value="efe8a30c69bc44d398810eccf48c1a41" />
	<add key="endpoint" value ="https://twitteraisentiments.cognitiveservices.azure.com/"/>
	</appSettings>
</configuration>